.lg-ann-bar {
  padding: 5px 20px;
}

.lg-ann-bar p {
  margin-bottom: 0;
}

.lg-ann-bar a {
  color: var(--color);
  text-decoration: underline;
}
.lg-ann-bar a:hover,
.lg-ann-bar a:active,
.lg-ann-bar a:focus {
  color: var(--color);
  text-decoration: underline;
}

.lg-ann-overlay {
  padding: 60px 0 30px 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  color: #fff;
}

.lg-ann-overlay h2,
.lg-ann-overlay h3,
.lg-ann-overlay h4,
.lg-ann-overlay h5 {
  color: #fff;
}

.lg-ann-overlay:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary, #333);
  opacity: 0.92;
  z-index: -1;
}

.lg-ann-overlay__close {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--primary, #333);
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 2rem;
  border: 1px solid #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lg-ann-overlay__button {
  margin-top: 20px;

}

.lg-ann-overlay__button .btn-primary {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--primary, #333);
  padding: 0.6rem 2rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 8px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: 1px solid #fff;
}

.lg-ann-overlay__trigger {
  background-color: var(--primary, #333);
  padding: 7px 20px;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0px -1px 6px 1px var(--primary, #333);
  cursor: pointer;
  transition: box-shadow 0.4s ease-in-out;
}

.lg-ann-overlay__trigger:hover {
  box-shadow: 0px -1px 12px 3px var(--primary, #333);

}

.lg-ann-bar.lg-ann-bar--banner {
  padding: 0;
}
.lg-ann-bar.lg-ann-bar--banner img.lg_announcement_banner_image{
  width: 100%;
}



@media screen and (min-width: 768px) {
  .lg-ann-overlay__trigger {
    left: 15px;
  }

  .lg-ann-overlay {
    padding: 30px;
    position: fixed;
  }
}
